{% extends "main_view.twig" %}
{% block title %} Вход на сайт {% endblock %}
{% block content %}
<h1>Вход на сайт</h1>
<form action="login/entry" method="post">
    <table>
        <tr>
            <td>Логин:</td>
            <td>
                <label>
                    <input type="text" name="log">
                </label>
            </td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td>
                <label>
                    <input type="text" name="password">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Запомнить:
                    <input type="checkbox" name="remem" />
                </label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="g-recaptcha" data-sitekey="6LfMIQ0UAAAAAGZFh8lqd847wFEC99H0QcCmugfQ"></div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="action" value="Войти"/>
            </td>
        </tr>
    </table>
</form>
<p>
    <a href=".">На главную</a>
</p>
{% endblock %}