<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>{%  block title %}Главная{%  endblock %}</title>
</head>
<body>
{%  block content %}
    <h1>Добро пожаловать! Twig</h1>
    <p>
        <a href="login_controller">Войдите</a>
        или
        <a href="form">Зарегистрируйтесь</a>
    </p>
{% endblock %}
</body>
</html>